
<div style="height: auto; width:100%;">

    <div style="height: 100%; width: 20%;background-color: rgb(206, 224, 243);float: left;">
   
     <img src="assets\alogo.png" alt="not found">
    </div>
    <div style="height: 100%; width: 60%;float: left;">
        <img src="assets\CarLoan.jpg" alt="not found" id="img">
       
    </div>
    <div style="height: 100%; width: 20%;background-color: rgb(192, 207, 236);float: left;">
        <img src="assets\alogo.png" alt="not found">
    
    </div>
</div>
